*.root
*.sh
*.pyc
JetAnalysis/test/plot_jet
JetAnalysis/test/overlay
PhotonAnalysis/test/crabJobs/crab_projects/
CentralityAnalysis/
Configuration/
EventAnalysis/
HiEvtPlaneCalib/
MuonAnalysis/
TrackAnalysis/
VNAnalysis/
VertexAnalysis/
JetAnalysis/test/OutputPlots/*
JetAnalysis/test/UnfoldedPlots/*

