*.root
*.sh
*.pyc
*.png
*.jpeg
PhotonAnalysis/test/crabJobs/crab_projects/
PhotonAnalysis/test/crabJobs/CRABtasks/
PhotonAnalysis/test/1_*
!PhotonAnalysis/test/1_*/*.cc
PhotonAnalysis/test/2_*
!PhotonAnalysis/test/2_*/*.cc
PhotonAnalysis/test/1_*
!PhotonAnalysis/test/1_*/*.cc
PhotonAnalysis/test/3_*
!PhotonAnalysis/test/3_*/*.cc
PhotonAnalysis/test/4_*
!PhotonAnalysis/test/4_*/*.cc
PhotonAnalysis/test/5_*
!PhotonAnalysis/test/5_*/*.cc
PhotonAnalysis/test/Plots_*
CentralityAnalysis/
Configuration/
EventAnalysis/
HiEvtPlaneCalib/
MuonAnalysis/
TrackAnalysis/
VNAnalysis/
VertexAnalysis/
JetAnalysis/test/OutputPlots/
JetAnalysis/test/UnfoldedPlots/
JetAnalysis/test/OverlayData/
JetAnalysis/test/OverlayPlots/
JetAnalysis/test/Overlay_ppPbPb/
JetAnalysis/test/Overlay_uncert/
JetAnalysis/test/Plot_jets/
JetAnalysis/test/Unfolding/RooUnfold_Leticia/*
!JetAnalysis/test/Unfolding/RooUnfold_Leticia/examples/
JetAnalysis/test/Uncertainty/Output*
JetAnalysis/test/Uncertainty/JEC/
JetAnalysis/test/Uncertainty/JER/
!JetAnalysis/test/Uncertainty/*.cc
